<div class=" ">
    <div class="login-form-wrapper ">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 mx-auto">
                    <div class="half-full">
                        <div class="content">

                            <div class="login-form-inner m-0">
                                <div class="login-form p-5 pb-4">
                                    <div class="section-title-3 mb-5 text-center">
                                        <p class="text-hover mb-0">Welcom Back !</p>
                                        <h2 class="heading-2">Create Your Account</h2>
                                    </div>
                                    <form [formGroup]="form" (ngSubmit)="signup()" class="text-start">
                                        <div class="alert alert-danger" *ngIf="login_error_message">
                                            {{login_error_message}}</div>
                                        <div class="form-group mb-4">
                                            <label for="user_name">Enter Name</label>
                                            <input type="email" id="user_name" class="form-control"
                                                placeholder="example@gmail.com" formControlName="name" />
                                            <div *ngIf="form.controls['name'].touched && form.controls['name'].invalid"
                                                class="text-danger">
                                                <div
                                                    *ngIf="form.controls['name'].errors && form.controls['name'].errors['required']">
                                                    Name is required</div>
                                            
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="user_email">Email</label>
                                            <input type="email" id="user_email" class="form-control"
                                                placeholder="example@gmail.com" formControlName="email" />
                                            <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
                                                class="text-danger">
                                                <div
                                                    *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">
                                                    email is required</div>
                                                <div
                                                    *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">
                                                    Valid
                                                    email is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="user_password">Password</label>
                                            <input type="password" id="user_password" formControlName="password"
                                                class="form-control" placeholder="........" required />
                                            <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid"
                                                class="text-danger">
                                                <div
                                                    *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']">
                                                    Password is required</div>

                                            </div>
                                         
                                        </div>
                                        <div class="form-group">
                                            <label for="user_password1">Confirm Password</label>
                                            <input type="password" id="user_password1" formControlName="confirm_password"
                                                class="form-control" placeholder="........" required />
                                            <div *ngIf="form.controls['confirm_password'].touched && form.controls['confirm_password'].invalid"
                                                class="text-danger">
                                                <div
                                                    *ngIf="form.controls['confirm_password'].errors && form.controls['confirm_password'].errors['required']">
                                                    Confirm Password is required</div>

                                            </div>
                                            
                                        </div>

                                        
                                        <div class="form-group mt-3">
                                            <div class="form-check">
                                                <a href="javascript:;" routerLink="/forgot-password" class="float-end">Forget
                                                    Password</a>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0">
                                            <button type="submit" class="default-btn w-100"
                                                [disabled]="!form.valid || is_loading">Singup Now <i *ngIf="is_loading"
                                                    class="fa fa-spin fa-spinner"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="user-account-info text-center mx-5 pb-3 custom-botder-bottom">
                                    <p class="mb-0">Already Have an Account? <a routerLink="/login"
                                            class="text-hover font-weight-bold">Sign
                                            In Now</a></p>
                                </div>
                                <app-social-login></app-social-login>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>