<!-- Start Footer -->
<footer class="footer-wrapper">
    <div class="footer-area py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-sm-5 mb-lg-0 mb-xs-5">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href=" " class="d-inline-block mb-3"><img src="assets/img/white_logo.png"></a>
                        </div>
                        <p class="text-white">{{footerData}}</p>
                        <div class="social-profiles">
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3 mb-sm-5 mb-lg-0 mb-xs-5">
                    <div class="footer-widget">
                        <h3 class="widget-title"> Links</h3>
                        <div class="general-nav">
                            <ul>
                                <li><a routerLink="">Home</a></li>
                                <li><a routerLink="/about-us">About Us</a></li> 
                                <li><a routerLink="/terms-and-conditions">Terms & Conditions</a></li> 
                                <li><a routerLink="/privacy-policy">Privacy Policy</a></li> 
                                <li><a routerLink="/menu">Menu</a></li> 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3 mb-sm-5 mb-lg-0 mb-xs-5">
                    <div class="footer-widget">
                        <h3 class="widget-title">Useful link</h3>
                        <div class="general-nav">
                            <ul>
                                <li><a routerLink="dinner-meal">Dinner Meal</a></li>
                                <li><a routerLink="lunch-meal">Lunch Meal</a></li> 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h3 class="widget-title">Contact Us</h3>
                        <div class="general-nav-2">
                            <ul>
                                <li><i class="fas fa-phone-volume"></i> <span><a  href="tel:{{footerContact.phone_1}}">{{footerContact.phone_1}}</a> <br>
                                    <a href="tel:{{footerContact.phone_2}}">{{footerContact.phone_2}}</a></span>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i> 
                                    <span><a href="mailto:{{footerContact.email_1}}">{{footerContact.email_1}}</a> 
                                    <br>
                                    <a href="mailto:{{footerContact.email_2}}">{{footerContact.email_2}}</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-black-2 py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text text-center">
                        <p>Copyright © 2022 <a href="#"><strong>Food.</strong></a> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
