<div class="page-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="page-header-container">
                    <div class="page-header-content">
                        <h1 class="heading-one">Shopping Cart</h1>
                        <div class="page-nav">
                            <ul>
                                <li><a routerLink="/home">Home &gt;</a></li>
                                <li>Shopping Cart</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart_info">
    <div class="container">
        <div class="row">


            <div class="card rounded-3 mb-4 card_checkout"
                *ngFor="let mealDataV of mealData; let indexOfelement=index;">

                <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">

                            <owl-carousel-o *ngIf="mealDataV.item.images.length>0" [options]="customOptions">
                                <ng-container *ngFor="let slide of mealDataV.item.images">
                                    <ng-template carouselSlide [id]="slide.id">
                                        <img [src]="slide.image">
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>

                            <owl-carousel-o *ngIf="mealDataV.item.images.length==0" [options]="customOptions">
                                <ng-container>
                                    <ng-template carouselSlide [id]="'0'">
                                        <img [src]="'assets/img/meal6.png'">
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>

                            <!--<img src="img/meal1.png" class="img-fluid rounded-3"> -->
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <h3 class="lead fw-normal">{{mealDataV.item.name}}</h3>

                            <div *ngFor="let product of mealDataV.product">
                                <div class="cart-deol">
                                    <span>{{product.date | date : 'dd-MM-yyyy'}}</span> 
                                    <!--div  *ngFor="let preference of product.preference"-->
                                        <label *ngIf="product.preference[0][0] && product.preference[0][0].title">{{product.preference[0][0].title}}</label>
                                    <!--/div-->
                                    
                                </div>
                            </div>

							
						


                            <p>Special note : <span class="text-muted"> {{mealDataV.remark}} </span></p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 ">
                            <h5 class="mb-0">${{mealDataV.item.price}}</h5>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 ">
                            <h5 class="mb-0">${{ mealDataV.item.price * mealDataV.totalQantity}}</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="javascript:;" (click)="removeFromCart(mealDataV.id)" class="text-danger" data-bs-toggle="tooltip" title=""
                                data-original-title="Delete"><i class="fa fa-trash fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>



            <!--<div class="card rounded-3 mb-4 card_checkout">
                <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <img src="img/meal1.png" class="img-fluid rounded-3">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <h3 class="lead fw-normal">Dinner</h3>
                            <div class="cart-deol">
                                <span>16-04-2022</span>
                                <label>Bull roast</label>
                                <div class="label label-success">Lunch</div>
                            </div>
                            <div class="cart-deol">
                                <span>16-04-2022</span>
                                <label>Bull roast</label>
                                <div class="label label-success">Lunch</div>
                            </div>
                            <p>Special note : <span class="text-muted"> Spicy </span></p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 ">
                            <h5 class="mb-0">$60.00</h5>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 ">
                            <h5 class="mb-0">$60</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="#!" class="text-danger" data-bs-toggle="tooltip" title=""
                                data-original-title="Delete"><i class="fa fa-trash fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div> -->




            <div *ngIf="mealData.length" class="">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="m-0" >Total : $<span class="total_amt">{{totalPrice}}</span></h3>
                    <a type="button" class="btn btn-warning big_btn btn-lg" routerLink="/checkout">Proceed to Pay</a>
                </div>
            </div>
            <div *ngIf="mealData.length==0" class="">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="alert alert-danger" style="width: 100%;">Your card is empty</div>
                </div>
            </div>
        </div>
    </div>
</div>