<div class="page-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="page-header-container">
                    <div class="page-header-content">
                        <h1 class="heading-one">Dashboard</h1>
                        <div class="page-nav">
                            <ul>
                                <li><a href="#">Home &gt;</a></li>
                                <li>Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-page">
    <div class="container">
        <div class="row">
            <!-- sidebar-->
            <div class="col-sm-3">
                <app-sidebar></app-sidebar>
            </div>
            <!-- sidebar-->
            <div class="col-sm-9">
                <div class="right-dash">
                    <h3>Dashboard</h3>
                    <div class="acc-detail mt-4">
                        <form action="" method="post">
                            <div class="form-group">
                                <label class=" control-label">Name</label>
                                <input type="text" value="John Smith" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Email</label>
                                <input type="text" value="john.smith@gmail.com" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Phone Number</label>
                                <input type="text" value="9876543210" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Alternet Phone Number</label>
                                <input type="text" value="9876543210" class="form-control">
                            </div>
                            <button id="sub_btn" class="btn btn-warning big_btn">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>