<div class="page-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="page-header-container">
                    <div class="page-header-content">
                        <h1 class="heading-one">Dashboard</h1>
                        <div class="page-nav">
                            <ul>
                                <li><a routerLink="/home">Home &gt;</a></li>
                                <li>Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-page">
    <div class="container">
        <div class="row">
            <!-- sidebar-->
            <div class="col-sm-3">
                <app-sidebar></app-sidebar>
            </div>
            <!-- sidebar-->
            <div class="col-sm-9">
                <div class="right-dash">
                    <h3>Dashboard</h3>
                    <div class="acc-detail mt-4">
                        <form [formGroup]="form" (ngSubmit)="editProfile()" class="text-start">
                            <div class="alert alert-danger" *ngIf="login_error_message">
                                {{login_error_message}}</div>
                            <div class="alert alert-success" *ngIf="login_success_message">
                                {{login_success_message}}</div>
                            <div class="form-group">
                                <label class=" control-label">Name</label>
                                <input type="email" id="user_email" class="form-control" formControlName="name" />
                                <div *ngIf="form.controls['name'].touched && form.controls['name'].invalid"
                                    class="text-danger">
                                    <div
                                        *ngIf="form.controls['name'].errors && form.controls['name'].errors['required']">
                                        Name is required</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Email</label>
                                <input type="email" id="email" class="form-control" placeholder="example@gmail.com"
                                    formControlName="email" />
                                <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
                                    class="text-danger">
                                    <div
                                        *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">
                                        email is required</div>
                                    <div
                                        *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']">
                                        Valid
                                        email is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Phone Number</label>
                                <input type="text" id="phone" class="form-control" formControlName="phone" />
                                <div *ngIf="form.controls['phone'].touched && form.controls['phone'].invalid"
                                    class="text-danger">
                                    <div
                                        *ngIf="form.controls['phone'].errors && form.controls['phone'].errors['required']">
                                        Phone is required</div>
                                    <div
                                        *ngIf="form.controls['phone'].errors && form.controls['phone'].errors['pattern']">
                                        Phone is invalid</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Alternet Phone Number</label>

                                <input type="text" id="alternate_number" class="form-control"
                                    formControlName="alternate_number" />
                                <div *ngIf="form.controls['alternate_number'].touched && form.controls['alternate_number'].invalid"
                                    class="text-danger">
                                    <div
                                        *ngIf="form.controls['alternate_number'].errors && form.controls['alternate_number'].errors['pattern']">
                                        Phone is invalid</div>

                                </div>
                            </div>
                            <button id="sub_btn" type="submit" class="btn btn-warning big_btn"
                                [disabled]="!form.valid || is_loading">Update <i *ngIf="is_loading"
                                    class="fa fa-spin fa-spinner"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>