<div class="page-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="page-header-container">
                    <div class="page-header-content">
                        <h1 class="heading-one">Search Meal</h1>
                        <div class="page-nav">
                            <ul>
                                <li><a routerLink="">Home &gt;</a></li>
                                <li>Search Meal</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Foods Tabs Area -->
<div class="foods-tabs-area section-ptb bg-semi-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 order-lg-1 order-1">
                <aside class="sidebar-wrapper">
                    <!-- Start Search Widget -->
                    <div class="search-widget mb-3 py-3 py-sm-3 px-3 ">
                        <form action="#" class="search-form">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Search">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- End Search Widget -->

                    <!-- Start Cateogiries Widget -->
                    <div class="categories-widget mb-4 custom-border p-3">
                        <div class="widget-title-2">
                            <h4 class="heading-4">Meal Type</h4>
                        </div>
                        <div class="widget-nav mt-3">
                            <div class="">
                                <div class="checkbox">
                                    <label for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                        Lunch
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="checkboxes-1">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                        Dinner
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Cateogiries Widget -->
                    <!-- Start Cateogiries Widget -->
                    <div class="categories-widget mb-4 custom-border p-3">
                        <div class="widget-title-2">
                            <h4 class="heading-4">Meal Categories</h4>
                        </div>
                        <div class="widget-nav mt-3">
                            <ul>
                                <li><a href="#"><i class="fas fa-angle-right"></i>Meal Categories</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i>Meal Categories</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i>Meal Categories</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i>Meal Categories</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i>Meal Categories</a></li>
                            </ul>
                        </div>
                    </div>
                
                </aside>
            </div>
            <div class="col-sm-9 order-lg-1 order-1">
                <div class="shorting-form d-flex justify-content-between bg-white align-items-center p-3 mb-4">
                    <div class="filter-info">
                        <p class="mb-0">Showing 1-7 Of 25 Result</p>
                    </div>
                    <div class="filter-form-2">
                        <form action="#">
                            <select name="filter_name" id="filter_name" style="display: none;">
                                <option value="0">Default Sorting</option>
                                <option value="1">Price Height To Low</option>
                                <option value="2">Newer To Older</option>
                            </select>
                            <div class="nice-select" tabindex="0"><span class="current">Default Sorting</span>
                                <ul class="list">
                                    <li data-value="0" class="option selected focus">Default Sorting</li>
                                    <li data-value="1" class="option">Price Height To Low</li>
                                    <li data-value="2" class="option">Newer To Older</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card border-0 product-card custom-round">
                            <div class="card-thumb">
                                <a href="meal-detail.php" class="black-overlay"><img src="assets/img/meal6.png"
                                        class="card-img-top" alt="food" /></a>
                                <div class="product-type ms-3 day-badge">
                                    <p class="m-0 text-white"><i class="fas fa-solid fa-calendar-day"></i>
                                        <span>Tueday</span></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <small class="meal-cons"> Classic North Indian</small>
                                <h6 class="heading-6"><a href="meal-detail.php">Lunch</a></h6>
                                <p>Dal, Rice, Vegetable Curry, Roti (flat bread), Dahi (yogurt), Papad, Salad, Chutney
                                    or Pickle and a Sweet Dish.</p>
                                <div class="card-meta d-flex pb-2 align-items-center">
                                    <div class="product-rating">
                                        <span class="far fa-star"></span>
                                        <span class="rating-point">4.5</span>
                                    </div>
                                    <div class="product-price flex-grow-1">
                                        <span>$19.00</span>
                                    </div>
                                </div>
                                <a href="#" class="sm-btn add-tocard"><i class="fas fa-plus"></i> Add To Bag</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card border-0 product-card custom-round">
                            <div class="card-thumb">
                                <a href="meal-detail.php" class="black-overlay"><img src="assets/img/meal5.png"
                                        class="card-img-top" alt="food" /></a>
                                <div class="product-type ms-3 day-badge">
                                    <p class="m-0 text-white"><i class="fas fa-solid fa-calendar-day"></i>
                                        <span>Monday</span></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <small class="meal-cons"> Classic North Indian</small>
                                <h6 class="heading-6"><a href="meal-detail.php">Dinner</a></h6>
                                <p>Dal, Rice, Vegetable Curry, Roti (flat bread), Dahi (yogurt), Papad, Salad, Chutney
                                    or Pickle and a Sweet Dish.</p>
                                <div class="card-meta d-flex pb-2 align-items-center">
                                    <div class="product-rating">
                                        <span class="far fa-star"></span>
                                        <span class="rating-point">4.5</span>
                                    </div>
                                    <div class="product-price flex-grow-1">
                                        <span>$19.00</span>
                                    </div>
                                </div>
                                <a href="#" class="sm-btn add-tocard"><i class="fas fa-plus"></i> Add To Bag</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card border-0 product-card custom-round">
                            <div class="card-thumb">
                                <a href=" meal-detail.php" class="black-overlay"><img src="assets/img/meal4.png"
                                        class="card-img-top" alt="food" /></a>
                                <div class="product-type ms-3 day-badge">
                                    <p class="m-0 text-white"><i class="fas fa-solid fa-calendar-day"></i>
                                        <span>Sunday</span></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <small class="meal-cons"> Classic North Indian</small>
                                <h6 class="heading-6"><a href="meal-detail.php">Dinner</a></h6>
                                <p>Dal, Rice, Vegetable Curry, Roti (flat bread), Dahi (yogurt), Papad, Salad, Chutney
                                    or Pickle and a Sweet Dish.</p>
                                <div class="card-meta d-flex pb-2 align-items-center">
                                    <div class="product-rating">
                                        <span class="far fa-star"></span>
                                        <span class="rating-point">4.5</span>
                                    </div>
                                    <div class="product-price flex-grow-1">
                                        <span>$19.00</span>
                                    </div>
                                </div>
                                <a href="#" class="sm-btn add-tocard"><i class="fas fa-plus"></i> Add To Bag</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card border-0 product-card custom-round">
                            <div class="card-thumb">
                                <a href="meal-detail.php" class="black-overlay"><img src="assets/img/meal3.png"
                                        class="card-img-top" alt="food" /></a>
                                <div class="product-type ms-3 day-badge">
                                    <p class="m-0 text-white"><i class="fas fa-regular fa-calendar-days"></i> <span>For
                                            one Month</span></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <small class="meal-cons"> Classic North Indian</small>
                                <h6 class="heading-6"><a href="meal-detail.php">Lunch</a></h6>
                                <p>Dal, Rice, Vegetable Curry, Roti (flat bread), Dahi (yogurt), Papad, Salad, Chutney
                                    or Pickle and a Sweet Dish.</p>
                                <div class="card-meta d-flex pb-2 align-items-center">
                                    <div class="product-rating">
                                        <span class="far fa-star"></span>
                                        <span class="rating-point">4.5</span>
                                    </div>
                                    <div class="product-price flex-grow-1">
                                        <span>$19.00</span>
                                    </div>
                                </div>
                                <a href="#" class="sm-btn add-tocard"><i class="fas fa-plus"></i> Add To Bag</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card border-0 product-card custom-round">
                            <div class="card-thumb">
                                <a href=" meal-detail.php" class="black-overlay"><img src="assets/img/meal2.png"
                                        class="card-img-top" alt="food" /></a>
                                <div class="product-type ms-3 day-badge">
                                    <p class="m-0 text-white"><i class="fas  fa-solid fa-calendar-day"></i> <span>For
                                            Friday</span></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <small class="meal-cons"> Classic North Indian</small>
                                <h6 class="heading-6"><a href="meal-detail.php">Dinner</a></h6>
                                <p>Dal, Rice, Vegetable Curry, Roti (flat bread), Dahi (yogurt), Papad, Salad, Chutney
                                    or Pickle and a Sweet Dish.</p>
                                <div class="card-meta d-flex pb-2 align-items-center">
                                    <div class="product-rating">
                                        <span class="far fa-star"></span>
                                        <span class="rating-point">4.5</span>
                                    </div>
                                    <div class="product-price flex-grow-1">
                                        <span>$19.00</span>
                                    </div>
                                </div>
                                <a href="#" class="sm-btn add-tocard"><i class="fas fa-plus"></i> Add To Bag</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card border-0 product-card custom-round">
                            <div class="card-thumb">
                                <a href="meal-detail.php" class="black-overlay"><img src="assets/img/meal1.png"
                                        class="card-img-top" alt="food" /></a>
                                <div class="product-type ms-3 day-badge">
                                    <p class="m-0 text-white"><i class="fas fa-solid fa-calendar-days"></i> <span>For
                                            one Week</span></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <small class="meal-cons"> Classic North Indian</small>
                                <h6 class="heading-6"><a href="meal-detail.php">Lunch</a></h6>
                                <p>Dal, Rice, Vegetable Curry, Roti (flat bread), Dahi (yogurt), Papad, Salad, Chutney
                                    or Pickle and a Sweet Dish.</p>
                                <div class="card-meta d-flex pb-2 align-items-center">
                                    <div class="product-rating">
                                        <span class="far fa-star"></span>
                                        <span class="rating-point">4.5</span>
                                    </div>
                                    <div class="product-price flex-grow-1">
                                        <span>$19.00</span>
                                    </div>
                                </div>
                                <a href="#" class="sm-btn add-tocard"><i class="fas fa-plus"></i> Add To Bag</a>
                            </div>
                        </div>
                    </div>

                </div> <!-- COL END -->
            </div>
        </div>

    </div>
</div>