<!-- Start Page Header -->
<div class="page-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="page-header-container">
                    <div class="page-header-content">
                        <h1 class="heading-one">Lunch Detail</h1>
                        <div class="page-nav">
                            <ul>
                                <li><a href="#">Home ></a></li>
                                <li>Lunch Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->
<div class="meal-detail">
    <!-- Start Product Details -->
    <div class="product-details section-ptb">
        <div class="container">
            <div class="row ">
                <!-- Start Product Thumb -->
                <div class="col-lg-5 col-sm-5 mb-4 mb-lg-0">
                    <div class="product-thumbs">
                        <div id="sync1" class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="assets/img/meal6.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal5.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal4.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal3.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal2.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal1.png" class="img-fluid" />
                            </div>
                        </div>

                        <div id="sync2" class="owl-carousel owl-theme mt-2">
                            <div class="item">
                                <img src="assets/img/meal6.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal5.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal4.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal3.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal2.png" class="img-fluid" />
                            </div>
                            <div class="item">
                                <img src="assets/img/meal1.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Product Thumb -->

                <!-- Start Product Content -->
                <div class="col-lg-7 col-sm-7">
                    <div class="product-content">
                        <small>Classic North Indian</small>
                        <h2 class="heading-2">Dinner</h2>
                        <div class="product-rating">
                            <p><i class="far fa-star"></i> <span>4.5</span> (4 Customer Review)</p>
                        </div>
                        <div class="product-price">
                            <p>$19.00</p>
                        </div>
                        <div class="product-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>

                        <div class="set-days">
                            <div class="head-maela">
                                <h3>Please choose Date</h3>
                                <p>You can Choose Multiple date</p>
                            </div>
                            <div class="choose-date">
                                <input type="text" class="form-control date" placeholder="Please Pick dates">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                        <div class="well show-fdae">
                            <div class="head-maela">
                                <h3>Please choose Meal options</h3>
                            </div>
                            <!-- loop -->
                            <div class="selected-date">
                                <div class="date-rows">
                                    <input class="form-control" type="date" value="13">
                                </div>
                                <div class="meal-type">
                                    <select class="form-control">
                                        <option>Meal type</option>
                                        <option>Bull roast</option>
                                        <option>Dal bhati</option>
                                        <option>Dinner</option>
                                    </select>
                                </div>
                                <div class="meal-option">
                                    <select class="form-control">
                                        <option>Lunch</option>
                                        <option>Dinner</option>
                                    </select>
                                </div>
                                <div class="product-action d-flex align-items-center ">
                                    <form action="#">
                                        <input type="number" value="1" min="1">
                                    </form>
                                </div>
                                <div class="meal-delete">
                                    <a href="" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <!-- loop -->
                            <!-- loop -->
                            <div class="selected-date">
                                <div class="date-rows">
                                    <input class="form-control" type="date" value="13">
                                </div>
                                <div class="meal-type">
                                    <select class="form-control">
                                        <option>Meal type</option>
                                        <option>Bull roast</option>
                                        <option>Dal bhati</option>
                                        <option>Dinner</option>
                                    </select>
                                </div>
                                <div class="meal-option">
                                    <select class="form-control">
                                        <option>Lunch</option>
                                        <option>Dinner</option>
                                    </select>
                                </div>
                                <div class="product-action d-flex align-items-center ">
                                    <form action="#">
                                        <input type="number" value="1" min="1">
                                    </form>
                                </div>
                                <div class="meal-delete">
                                    <a href="" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <!-- loop -->
                        </div>

                        <div class="specail-note">
                            <div class="head-maela">
                                <h3>Any special note</h3>
                            </div>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="product-action d-flex align-items-center mt-4">

                            <a href="cart.php" class="default-btn"><i class="fas fa-plus"></i> Book Order</a>
                        </div>
                        <div class="same-dar-orxcer mt-4">
                            <a href="" class="default-btn" data-bs-toggle="modal"
                                data-bs-target="#contact-popup">Contact us for same day order</a>
                        </div>
                    </div>
                </div>
                <!-- End Product Content -->
            </div>
        </div>
        <!-- Start Product Reviews -->
        <div class="products-reviews mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="reviews-info">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info"
                                        role="tab" aria-controls="info" aria-selected="true">
                                        Additional Information
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
                                        type="button" role="tab" aria-controls="reviews" aria-selected="false">
                                        reviews(124)
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <h6 class="heading-6">Additional Information</h6>
                                    <div class="general-nav-3 mt-4">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                            opposed to using 'Content here, content here', making it look like readable
                                            English. Many desktop publishing packages and web page editors now use Lorem
                                            Ipsum as their default model text, and a search for 'lorem ipsum' will
                                            uncover many web sites still in their infancy. Various versions have evolved
                                            over the years, sometimes by accident, sometimes on purpose (injected humour
                                            and the like).</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                    <h6 class="heading-6">Reviews</h6>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="rating-block">
                                                <h4>Average user rating</h4>
                                                <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                                                <button type="button" class="btn btn-warning btn-sm"
                                                    aria-label="Left Align">
                                                    <i class="fas fa-solid fa-star"></i>
                                                </button>
                                                <button type="button" class="btn btn-warning btn-sm"
                                                    aria-label="Left Align">
                                                    <i class="fas fa-solid fa-star"></i>
                                                </button>
                                                <button type="button" class="btn btn-warning btn-sm"
                                                    aria-label="Left Align">
                                                    <i class="fas fa-solid fa-star"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-grey btn-sm"
                                                    aria-label="Left Align">
                                                    <i class="fas fa-solid fa-star"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-grey btn-sm"
                                                    aria-label="Left Align">
                                                    <i class="fas fa-solid fa-star"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-7">
                                            <hr />
                                            <div class="review-block">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image"
                                                            class="img-rounded">
                                                        <div class="review-block-name"><a href="#">nktailor</a></div>
                                                        <div class="review-block-date">January 29, 2016<br />1 day ago
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="review-block-rate">
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button"
                                                                class="btn btn-default btn-grey btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button"
                                                                class="btn btn-default btn-grey btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                        </div>
                                                        <div class="review-block-title">this was nice in buy</div>
                                                        <div class="review-block-description">this was nice in buy. this
                                                            was nice in buy. this was nice in buy. this was nice in buy
                                                            this was nice in buy this was nice in buy this was nice in
                                                            buy this was nice in buy</div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image"
                                                            class="img-rounded">
                                                        <div class="review-block-name"><a href="#">nktailor</a></div>
                                                        <div class="review-block-date">January 29, 2016<br />1 day ago
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="review-block-rate">
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button"
                                                                class="btn btn-default btn-grey btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button"
                                                                class="btn btn-default btn-grey btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                        </div>
                                                        <div class="review-block-title">this was nice in buy</div>
                                                        <div class="review-block-description">this was nice in buy. this
                                                            was nice in buy. this was nice in buy. this was nice in buy
                                                            this was nice in buy this was nice in buy this was nice in
                                                            buy this was nice in buy</div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image"
                                                            class="img-rounded">
                                                        <div class="review-block-name"><a href="#">nktailor</a></div>
                                                        <div class="review-block-date">January 29, 2016<br />1 day ago
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="review-block-rate">
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button"
                                                                class="btn btn-default btn-grey btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                            <button type="button"
                                                                class="btn btn-default btn-grey btn-sm"
                                                                aria-label="Left Align">
                                                                <i class="fas fa-solid fa-star"></i>
                                                            </button>
                                                        </div>
                                                        <div class="review-block-title">this was nice in buy</div>
                                                        <div class="review-block-description">this was nice in buy. this
                                                            was nice in buy. this was nice in buy. this was nice in buy
                                                            this was nice in buy this was nice in buy this was nice in
                                                            buy this was nice in buy</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product Reviews -->
    </div>
    <!-- End Product Details -->
</div>